<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widht, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Lista de usuarios</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Tipo ID</th>
                    <th>Nombre Usuario</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Nombre Hotel</th>
                    <th>Acciones</th>
                </tr>
            </thread>
            <th:block th:each="usuario:${usuarios}">
                <tr>
                    <td th:text="${usuario.idUsuario}"></td>
                    <td th:text="${usuario.tipoId}"></td>
                    <td th:text="${usuario.nombreUsuario}"></td>
                    <td th:text="${usuario.email}"></td>
                    <td th:text="${usuario.rol}"></td>
                    <td th:text="${usuario.nombreHotel}"></td>
                    <td>
                        <a th:href="@{usuarios/{id}/edit{id=${usuario.idUsuario}}}">
                            Editar
                        </a>
                        <a th:href="@{usuarios/{id}/delete{id=${usuario.idUsuario}}}"
                        onclick="return confirm('¿Estas seguro que deseas eliminar el usuario?')">
                            Editar
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href="@{/}" class="btn btn-primary">Volver Atras</a>
        </div>
    </div>
</body>
</html>


